
<html lang="en" ng-app="StorySearch">
<head>
    <title>Story Search :: Facebook Feed Search Engine</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="asset/css/main.css">
    <meta name="viewport" content="initial-scale=1" />


    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.js"></script>

    <!-- Angular Controller -->
    <script src="asset/js/ui_engine.js"></script>

    <!-- Facebook -->
    <script type="text/javascript" src="asset/js/facebook.js"></script>

</head>


<body layout="column" ng-controller="AppCtrl" scrolled-to-bottom>

<md-toolbar layout="row">

    <div class="md-toolbar-tools" flex-gt-sm="33" flex-sm="0">
    </div>

    <h1 class="md-toolbar-tools" flex  layout-align-gt-sm="center">
        Story Search
    </h1>

    <div class="md-toolbar-tools" flex="33" layout-align="end">
        <div layout="row" layout-align="end center" class="ng-hide" ng-hide="!isLoggedIn">
            <div class="md-body-2" hide-sm>{{requestCount}} feeds</div>
            <md-button class="md-raised" ng-click="clickRequest()">{{requestButton}}</md-button>
        </div>
    </div>

</md-toolbar>


<div layout="column" flex layout-align="center center" class="ng-hide" ng-hide="isLoggedIn">
    <div>
        <fb:login-button data-size="xlarge" scope="user_posts" onlogin="checkLoginState();"></fb:login-button>
    </div>
</div>

<div layout="column" class="ng-hide" ng-hide="!isLoggedIn">



    <div layout="row">
        <div flex-gt-md="20" flex-gt-sm="10" ></div>
        <div flex>

            <div layout="row">
                <md-input-container flex>
                    <label>Search</label>
                    <input ng-model="search.keyword" select-on-click ng-enter="clickSearch(search.keyword)">
                </md-input-container>

                <md-button class="md-icon-button md-primary" ng-model="search.button" ng-click="clickSearch(search.keyword)" aria-label="Search">
                    <md-icon md-svg-icon="asset/img/magnifying-glass.svg"></md-icon>
                </md-button>
            </div>

            <div layout="row" class="md-caption"  ng-if="isSearch">
                <div>Search: {{searchResult.keyword}} ({{searchResult.number}} results)</div>
            </div>


            <div layout="row" flex layout-align-gt-md="center">
                <div layout="column" flex>
                    <md-content there-is-more>
                        <md-card ng-repeat="feed in feedResults | orderBy:order | limitTo:quantity" class="ng-hide" ng-hide="isFinishLoading">
                            <md-card-content>

                                <div layout="column">

                                    <div layout="row">
                                        <div class="md-padding">
                                            <a target="_blank" href="https://facebook.com/{{feed.from.id}}">
                                                <img src="https://graph.facebook.com/{{feed.from.id}}/picture?type=square" />
                                            </a>
                                        </div>
                                        <div class="md-padding" layout="column" flex>
                                            <div class="md-title">
                                                <a target="_blank" href="https://facebook.com/{{feed.from.id}}" class="md-title">
                                                    {{feed.from.name}}
                                                </a>
                                            </div>
                                            <div class="md-caption">
                                                <a target="_blank" href="{{feed.actions[0].link}}" class="time" class="md-caption">
                                                    {{feed.updated_time}}
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div layout="column">
                                        <div class="md-body-1">
                                            {{feed.message}}
                                        </div>
                                    </div>


                                    <div layout="row" ng-if="feed.picture">
                                        <a target="_blank" href="{{feed.link}}">
                                            <img src="{{feed.picture}}" />
                                        </a>
                                    </div>

                                    <div layout="column" ng-if="feed.link">
                                        <div class="md-caption"><a target="_blank" href="{{feed.link}}">{{feed.caption}}</a></div>
                                        <div class="md-caption">{{feed.description}}</div>
                                    </div>


                                    <div layout="row" layout-align="end" flex ng-if="isSearch">
                                        <div class="md-caption">
                                            Score: {{feed.score.toFixed(4)}}
                                        </div>
                                    </div>
                                </div>


                            </md-card-content>
                        </md-card>


                        <div layout="row" class="ng-hide" ng-hide="searchResult.number<quantity">
                            <md-button flex class="md-raised" ng-click="clickShowMore()">Show More</md-button>
                        </div>
                    </md-content>
                    </md-content>
                </div>
            </div>
        </div>
        <div flex-gt-md="20" flex-gt-sm="10" ></div>
    </div>


</div>

    <!-- My Scripts -->
    <script type="text/javascript" src="https://spicydog.github.io/ThaiTokenizer/js/tokenizer.js"></script>

    <script src="asset/js/search_engine.js"></script>
    <script src="asset/js/feed_retriever.js"></script>


</body>
</html>